<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>File Upload</title>
</head>

<body>
    <div>
        <form action="/user/login" method="post" class="main-form" id="form">
            <div class="form-body">
                <h2>Login</h2>
                <div class="email">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Eg:siddharth@gmail.com">
                    <div id="emailerror" class="error"></div>
                </div>
                <div class="password">
                    <label for="password">Password:</label>
                    <input type="text" name="password" id="password">
                </div>

                <div class="submit">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>